{% extends 'base.html' %}

{% block content %}

<h1 class="my-4">在庫グラフ</h1>

<div class="mb-3">

    <a href="{{ url_for('stock.graph', product_id=request.view_args.product_id, chart_type='bar') }}"
       class="btn btn-success">
        棒グラフ
    </a>
    <a href="{{ url_for('stock.graph', product_id=request.view_args.product_id, chart_type='line') }}"
       class="btn btn-primary">
        折れ線
    </a>
    <a href="{{ url_for('stock.graph', product_id=request.view_args.product_id, chart_type='3d') }}"
       class="btn btn-warning">
        3D
    </a>

</div>

<!-- グラフ -->
{{ graph | safe }}

<br>

<a href="{{ url_for('stock.detail', product_id=product_id) }}"
   class="btn btn-secondary">
    詳細へ戻る
</a>

{% endblock %}